.container {
  .tooltip-heading {
    button {
      appearance: none;
      outline: none;
      border: none;
      width: 100px;
      height: 50px;
      font-family: "Girassol", cursive;
      font-size: 1.2rem;
      border-radius: 20px;
      @include back_props;
      cursor: pointer;
      &:hover {
        background-color: rgb(61, 198, 252);
      }
    }
  }
}
