.horizontal {
  margin: 5% 0 0 48%;
  @include tooltip_container(grid, 60px, 400px, 10px);
  .tooltip-item {
    display: flex;
    .tooltip-icon {
      @include tooltip_icon;
      height: 50px;
    }
    .tooltip-title {
      @include title(0px 0px 0px 70px, 10px, 15px, 15px, 7% 0 0 -16px);
      opacity: 0;
    }
  }
}
