body {
  background-color: yellow;
  font-family: "Itim", cursive;
}
.container {
  margin: 10% 0 0 0;
  text-align: center;
  .tooltip-navbar {
    background: white;
    font-size: 1.6rem;
    padding: 10px 0 0 0;
    transition: 0.5s linear;
    .tooltip-title {
      @include back_props;
      padding: 5px 10px;
      &::before {
        background: white;
      }
    }
  }
}
