@mixin tooltip_container($display, $width, $height, $redius) {
  display: $display;
  width: $width;
  border-radius: $redius;
  height: $height;
  justify-content: space-evenly;
}
@mixin tooltip_icon {
  display: block;
  width: 60px;
  position: relative;
  text-align: center;
  align-items: center;
  &:hover + .tooltip-title {
    display: inline;
  }
}
@mixin title($margin, $redius, $width, $height, $margin-before) {
  margin: $margin;
  z-index: 1;
  position: absolute;
  border-radius: $redius;
  display: none;
  &::before {
    position: absolute;

    width: $width;
    height: $height;
    content: "";
    margin: $margin-before;
    transform: rotateZ(45deg);
  }
}
@mixin back_props {
  background: white;
  box-shadow: 2px 2px 10px darkgray;
}
