.vertical {
  margin: 10% 0 0 30%;
  @include tooltip_container(flex, 600px, 40px, 10px);
  .tooltip-item {
    display: grid;
    .tooltip-icon {
      @include tooltip_icon;
      height: 50px;
    }
    .tooltip-title {
      @include title(50px 0px 0px 0px, 10px, 15px, 15px, -10px 0 0 15px);
    }
  }
}
