* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
@import "../sass/normalize";
@include normalize();
@import "../sass/variables";
@import "../sass/ttn_mixin";
@import "../sass/navbar";
@import "../sass/button";
@import "../sass/horizontal";
@import "../sass/vertical";
